<article>
    <h1><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h1>

    {% if object.photo %}
        {% load photos %}
        {% img article_head for object.photo as image %}
        <p><a href=""><img src="{{ image.url }}" alt="{{ article.title }}" /></a></p>
    {% endif %}

    <summary>{% render object.description %}</summary>
    <details>{% render object.content.content %}</details>
    <aside><small>vytvořeno: {{ object.publish_from|date:"d.m.Y" }}</small></aside>
    <aside><small>autoři: {{ object.authors.all|join:", " }}</small></aside>
</article>
